{% extends 'auctions/layout.html' %}

{% block title %}{{category}}{% endblock %}

{% block body %}
<h1>Category: {{category}}</h1>
{% if listings %}
{% for listing, current_bid in listings %} {% if listing.active %}
<div class="listing_block">
  <div class="active-img-box">
    {% if listing.image %}
    <img src="{{listing.image}}" class="active-img" />
    {% endif %}
  </div>

  <div class="description_box" class="column">
    <pre>
        <a
        href="{% url 'listing' listing.id listing.title %}"
        style="text-decoration: none">
        <h5>{{listing.title}}</h5>
        </a>
            Current Price: {% if current_bid is None %} ${{listing.start_bid}} {% else %} ${{current_bid.amount}}{% endif %}
            Description: {{listing.description}}
            Created: {{listing.created_at}}
        </pre>
  </div>
</div>
{% endif %} {% endfor %}
{% else %}
<p>
<h2> No listing found.</h2>
</p>
{% endif %}
{% endblock %}