{% extends 'auctions/layout.html' %} {% block title%} {{listing.title}}
{%endblock%} {% block body %}
<h1 class="listing-title">{{listing.title}}</h1>
{% if not listing.active %}
<h2>Listing is closed</h2>
{% if winner == user%}
<p style="font-size: 24px; color: green;">You won the Bid!</p>
{% else %}
<p>Winner is <b>{{winner}}</b></p>
{% endif %}
{% else %} {% if user.is_authenticated %} {% if user == listing.creator %}
<form action="{% url 'listing' listing.id listing.title %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Close auction" name="close" />
</form>
{% endif %} 

{% if user != listing.creator%}
{% if user.is_authenticated %}
<form action="{% url 'watchlist' %}" method="post">
  {% csrf_token %}
  <input name="listing_id" value="{{listing.id}}" type="hidden" />
  {% if in_watchlist > 0 %}
  <input type="submit" value="Remove from Watchlist" name="remove" />
  {% else %}
  <input type="submit" value="Watchlist" name="add" />
  {% endif %}
</form>
{% endif %}

{% endif %} {% endif %} {% endif %}
<div class="listing-img-box">
  <img src="{{listing.image}}" alt="Product image" />
</div>

<div>
  <div class="listing-description">
    <h5><u>Description</u></h5>
    <p>{{listing.description}}</p>
  </div>
  <p>Starting bid: ${{listing.start_bid}}</p>
  {% if current_bid is not None %}
  <h5><b>Current bid:</b></h5>
  <div style="font-size: 32px">${{current_bid.amount}}</div>
  {% else %} {% endif %} {% if not winner or listing.active %} {% if message %}
  <div class="error_msg">{{message}}</div>
  {% endif %}
  {% if listing.active %}
  {% if user.is_authenticated %}
  <form action="{% url 'bid_error' listing.id listing.title %}" method="post">
    {% csrf_token %}
    <label for="amount">Your bid: </label>
    <input type="text" id="amount" name="amount" />
    <input type="submit" value="Place Bid" name="bid" />
  </form>
  {% endif %}
  {% endif %}
  {% endif %}
</div>

<div class="info">
  <h4>Details:</h4>
  <ul>
    <li>Listed by: {{listing.creator}}</li>
    <li>
      Category: {% if listing.category is null %} No category listed {% else %}
      {{listing.category}} {% endif %}
    </li>
  </ul>
</div>

<div class="comment-section">
  <h4>Comments</h4>
  {% if user.is_authenticated %}
  <p>Leave a comment</p>
  <form method="post" action="{% url 'listing' listing.id listing.title %}">
    {% csrf_token %}
    <div class="comment-submit">
      <textarea
        class="comment-content"
        placeholder="Your comment here..."
        name="content"
      ></textarea>
      <input class="comment-btn" type="submit" value="Comment" />
    </div>
  </form>
  {% endif %} {% for comment in comments %}
  <div class="comment">
    <div class="comment-user_date">
      {{comment.commenter}} - {{comment.created_on}}
    </div>
    <div class="comment-detail">{{comment.content}}</div>
  </div>
  {% endfor %}
</div>

{% endblock %}
